body {
  background-color: rgb(154, 182, 182);
}

/* overskrift h1 design */
h1{
font-style: bold;
font-size: 40px;
font: sans-serif;
text-align: center;
border: 20px solid rgb(168, 32, 245);
padding: 30px;
}

h2{
font-style: bold;
font-size: 30px;
font: sans-serif;
text-align: center; 
border: 10px solid rgb(98, 32, 245);
padding: 30px;
}

p{
font-style: normal;
font-size: 20px;
font: sans-serif; 
text-align: left;
}

pre{
  background-color: red;
}

.boxFloatMiddle{
float: middle;
background-color: rgb(200,100,100);
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
