body {
  background-color: rgb(255, 255, 255);
}

/* overskrift h1 design */
h1{
font-style: bold;
font-size: 70px;
}

pre{
  background-color: red;
}


.boxFloatMiddle{
float: middle;
background-color: rgb(200,100,100);
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
